# ansible-role-{{ short-role-name }}

[![Build Status](https://travis-ci.org/{{ role_travis_user }}/ansible-role-{{ role_short_name }}.svg?branch=master)](https://travis-ci.org/{{ role_travis_user }}/ansible-role-{{ role_short_name }})


An Ansible role to install and manage **{{ short-role-name }}**

## Description



## Requirements

Any pre-requisites that may not be covered by Ansible itself or the role should be mentioned here. For instance, if the role uses the EC2 module, it may be a good idea to mention in this section that the boto package is required.

## Role Variables

### roles/{{ short-role-name }}/defaults/main.yml

```yaml
---
# file: roles/{{ role_galaxy_role_name }}

# project vars
role_parent_dir: '~/projects/dev/roles'

# role vars
{{ role_short_name }}_short_name: 'nix'
{{ role_short_name }}_long_name: 'ansible-role-{{ role_short_name }}''
{{ role_short_name }}_description: 'An Ansible role to install and manage the Nix pack}{age manager'

{{ role_short_name }}_github_user: '{{ role_short_name }}_github_user'
{{ role_short_name }}_github_ssh_url: 'git@github.com:{{ role_github_user }}/{{ role_long_name }}.git'

{{ role_short_name }}_galaxy_user: '{{ role_short_name }}_galaxy_user' # csteel
{{ role_short_name }}_galaxy_role_name: '{{ role_galaxy_user }}.{{ role_short_name }}
```

Dependencies
------------

A list of other roles hosted on Galaxy should go here, plus any details in regards to parameters that may need to be set for other roles, or variables that are used from other roles.

Example Playbook
----------------

Including an example of how to use your role (for instance, with variables passed in as parameters) is always nice for users too:

    - hosts: servers
      roles:
         - { role: username.rolename, x: 42 }

## License

MIT

## Author Information

Christopher Steel on behalf of ACElabs  
Systems Administrator  
McGill Centre for Integrative Neuroscience  
Montreal Neurological Institute  
E-mail: christopherDOTsteel@mcgill.ca  
[mcin-cnim.ca](http://mcin-cnim.ca/)    
[theneuro.ca](http://www.mcgill.ca/neuro/)   

## Open Science

The Montreal Neurological Institute has adopted the principles of Open Science. We are inspired by the likes of the Allen Institute for Brain Science, the National Institutes of Health's Human Connectome project, and the Human Genome project. For additional information please see [open science at the neuro]( https://www.mcgill.ca/neuro/open-science-0).



![MCIN](imgs/mcin-logo-brain-140x116.png)          ![neuro](imgs/neuro-logo-160x116.png)  
