---
# file: group_vars/all/project_defaults

## Controller User Variables

project_controller_user_name: 'controller_user_name_goes_here'
project_controller_user_home: '/home/{{ project_controller_user_name }}'


## Deploymebnt User Variables

project_deployment_user_name: 'deployment_user_name_goes_here'
project_deployment_user_home: '/home/{{ project_deployment_user_name }}'

